	<div style="width:500px">
		<nav style="background: white;">
			<a style="margin-top:-8px" href="localhost:3000/forums"><%= image_tag "assets/images/logotype-white.png" %></a>			
		</nav>
		<section>
    		<h1 style="font-size:30px; font-weight:bold;">El usuario <%= @user.name %> ha comentado</h1>
    		<p> :D </p>
    	</section>
    </div>
